/* GRID 1 */
.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 103px 300px 60px auto auto 100px;
    grid-template-areas:
        "header"
        "banner"
        "nav"
        "post"
        "sidebar"
        "footer";    
}
.grid-container-post {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 103px 300px 60px auto 100px;
    grid-template-areas:
        "header"
        "banner"
        "nav"
        "post"
        "footer";
}

/* If Screen Is Wide Enough */
@media(min-width:750px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 103px 300px 60px auto 100px;
        grid-template-areas:
            "header header"
            "banner banner"
            "nav nav"
            "post sidebar"
            "footer footer";        
    }
}

/* GRID 2 */
.grid-container-nested {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

/* HEADER */
.header {    
    grid-area: header;
    background: var(--color-header);
    color: var(--color-forecolor);
    padding-top: 30px;
    padding-left: 30px;
    min-height: 70px;
    border-bottom: var(--color-highlight) 3px solid;
}

.header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

.header #branding {
    float: left;
}

.header #branding h1 {
    margin: 0;
}

/* BANNER */
.banner {
    grid-area: banner;
    background-image: url("../images/showcase.jpg");
    background-size: cover;
    text-align: center;
    background-position: center center;
    color: var(--color-forecolor);
}
.banner h1 {
    margin-top: 70px;
    font-size: 45px;
}

.banner h2 {
    margin-top: 50px;
    font-size: 35px;
}

.banner p {
    font-size: 20px;
}

.banner img {
    width: 200px;
}

/* NAV */
.nav {
    grid-area: nav;
    float: right;
    width: 100%;
    height: 60px;
    background: var(--color-header);
    /*position: fixed;*/
    z-index: 10;
}

.nav a {
    color: var(--color-forecolor);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

.header .highlight, .nav .current a {
    color: var(--color-highlight);
    font-weight: bold;
}

.nav a:hover {
    color: var(--color-nav-hover);
    font-weight: bold;
}

.nav div {
    color: white;
    font-size: 2rem;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: 2%;
    visibility: visible;
}

.nav ul {
    list-style-type: none;
    margin: 0 2% auto 0;
    padding-left: 0;
    text-align: right;
    max-width: 100%;
}

.nav ul li {
    display: inline-block;
    line-height: 60px;
    margin-left: 15px;
}

.nav ul li a {
    text-decoration: none;
    color: var(--color-nav-link);
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}



/* SIDEBAR BOXES */
.sidebar {
    grid-area: sidebar;
    margin-top: 10px;
}

.sidebar .box {
    margin: 10px;
    padding: 10px;
    float: left;
    text-align: center;
    background-color: var(--color-forecolor);
    border: 1px solid var(--color-border);
    font-weight: normal;
    text-decoration: none;
    height: 300px;
}

.sidebar .box:hover {
    position: relative;
    -moz-box-shadow: 1px 3px 5px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, .5);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, .5);
    background: white;
}

.sidebar .box img {
    width: 160px;
}

.sidebar .box a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

/* BLOG CONTENT */
.content {
    grid-area: post;
    padding: 20px 20px 20px 20px;
    background-color: var(--color-forecolor);
    border: 1px solid var(--color-border);
    margin: 20px 10px 0px 10px;
}

.content img {
    width: 350px;    
    background-position: center center;
}

/* FOOTER */
.footer {
    grid-area: footer;
    padding: 20px;
    margin-top: 20px;
    color: var(--color-forecolor);
    background-color: var(--color-footer);
    text-align: center;
}

/* GLOBAL */
body {
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--color-body);
}

ul {
    margin: 0px 0px 0px 20px;
    padding: 0;
}

