:root {
    --color-header: #292f36;
    --color-nav-link: #a9abae;
    --color-nav-hover: #cccccc;
    --color-body: #ebebeb;
    --color-footer: #e8491d;
    --color-forecolor: #ffffff;
    --color-highlight: #e8491d;
    --color-border: #000000;
}
